* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame {
    margin-top: 20px;
    width: 320px;
    height: 400px;
    background-color: #575757;
    box-shadow: 0px 14px 1px #414342;
}

.calculator {
    height: inherit;
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #404040;
}

.display {
    justify-self: center;
    align-self: center;
    margin-top: 5px;
    width: 300px;
    height: 60px;
    box-shadow: inset 0px 4px 1px #a9baae,
                inset 0px -4px 1px #a9baae,
                0px 4px 1px #3c3d3e;
    background-color: #bcd1c0;
    grid-column: span 4;
    display: flex;
    justify-content: end;
}

.display > p {
    font-family: 'Orbitron';
    font-size: 32px;
    margin-right: 10px;
    align-self: center;
    color: #29342d;
}

button {
    margin: 6.5px;
    background-color: #ececec;
    border: solid 1px #767676;
    box-shadow: inset 0px -2px 1px #8f8f8f,
                0px 3px 1px #474a48;
    height: 50px;
    width: 65px;
    justify-self: center;
    align-self: center;
    font-size: 30px;
    color: #3f3f3f;
}

.equals {
    color: #fff8fe;
    box-shadow: inset 0px -2px 1px #a44751;
    background-color: #f9686b;
}

.display ,
.frame,
button {
    border-radius: 10px;
}

.buttons {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-direction: row;
}

.buttons > button {
    width: 100px;
}